.allarticle {
  width: 100%;
  height: 100%;
  main {
    flex: 1;
    padding: 24px;
    overflow: auto;

    .allarticle_main {
      .allarticle_form {
        padding: 24px;
        margin-bottom: 16px;
        background: #fff;

        .allarticle_form_head {
          display: flex;
          align-items: center;

          > div {
            display: flex;
            margin-left: 20px;
            margin-right: 20px;
            align-items: center;

            p {
              display: flex;
              align-items: center;
              margin-right: 10px;
              margin-bottom: 0;
            }
          }

          > div:nth-child(2) {
            margin-left: 40px;
          }

          > div:nth-child(3) {
            margin-left: 140px;
          }
        }

        .allarticle_form_bottom {
          position: relative;
          width: 100%;
          padding-top: 15px;
          display: flex;
          justify-content: flex-end;
        }
      }
    }

    .allarticle_content {
      width: 100%;
      background-color: #fff;
      padding: 24px 12px;

      .allarticle_content_head {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 20px;
      }
    }
  }
}

.button_mark {
  width: 92px;
  height: 35px;
  position: absolute;
  top: 175px;
  right: 180px;
  z-index: 999;
}
.img {
  width: 480px;
  height: 200px;
}
