.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 20px;
  .searchInp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 10px 0;
    > div {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-left: 20px;
      span{
        padding: 0 10px;
        flex: 1;
      }
      input{
        width: 150px;
      }
    }
  }
  .searchBut{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    button{
      margin-right: 10px;
    }
  }
}
.article{
  width: 100%;
  main{
    width: 100%;
    padding: 10px 20px;
  }
}