/* <768px */
@media screen and (max-width: 768px) {
  .emx canvas {
    width: 90% !important;
  }

  .emx {
    height: 300px;
    width: 95%;
  }
}

/* >=992 and  */
@media screen and (min-width: 768px) {
  .emx canvas {
    width: 90% !important;
  }
  .emx {
    height: 300px;
    width: 95%;
  }
}

/* >=768px and <1200px */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .emx canvas {
    width: 95% !important;
  }
  .emx {
    height: 300px;
    width: 95%;
  }
}

/* >=1200px */
@media screen and (min-width: 1200px) {
  .emx canvas {
    width: 90% !important;
  }
  .emx {
    height: 300px;
    width: 95%;
  }
}
