.editHeader {
  width: 100%;
  
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  .title {
    width: 100%;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    .close {
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      border: 1px solid #ccc;
      font-size: 20px;
    }
    input {
      flex: 1;
      margin: 0 10px;
      outline: none;
      border: none;
      border-bottom: 1px solid #ccc;
      height: 30px;
    }
    button {
      height: 40px;
      margin: 0 20px;
    }
  }
}
