.file_wrap{
  width: 100%;
  main{
    width: 100%;
    padding: 20px;
  }
}
.file_img{
  height: auto;
  background-color: #fff;
  padding: 40px 20px;
}
.file_card{
  height: 250px;
  width: 100%;
  margin: 10px;
  // background-color: blue;
}
.file_card_img{
   height: 150px;
   width: 100%;
}
// 搜索
.file_search{
  background-color: #fff;
  margin-bottom: 10px;
}

.pagination{
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}