.knowEdit {
  width: 100%;
  height: 100vh;
  .sider {
    width: 240px;
    height: 100vh;
    background-color: #e7eaee;
    header {
      border-bottom: 1px solid #999;
      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 10px;
        font-size: 16px;
        .title {
          display: flex;
          align-items: center;
          justify-content: space-around;
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px;
        .save {
          width: 100%;
          button {
            width: 100%;
          }
        }
      }
    }
    main {
      width: 100%;
      ul {
        width: 100%;
        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 10px;
          margin: 5px 10px;
          line-height: 40px;
        }
        .active {
          background: #09f;
          color: #fff;
        }
        .no_active {
          background: #f8f8f8;
          color: #000;
        }
      }
    }
  }
  .content {
    width: 100%;
  }
}
