.comment{
  width: 100%;
  height: auto;
  background-color: #fff;
  h4{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a{
      color: #000;
    }
  }
  span{
    margin: 0 5px;
  }
}