*{
  margin: 0;
  padding: 0;
}

.table{
  width: 100%;
  // margin-top:10px;
  border: 1px solid #000;
  border-collapse: collapse;
  text-align: center;
  tr{
    
    border: 1px solid #000;
  }
  td{
    border: 1px solid #000;
  }
  th{
    border: 1px solid #000;
  }
}

.commentTable {
  width: 100%;
  header {
    width: 100%;
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #999;
  }
  main {
    > div {
      background-color: #fff;
      margin-bottom: 10px;
    }
    .action{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      padding: 0 20px;
      div{
        button{
          margin-right: 10px;
        }
      }
    }
    padding: 20px;
    .pagination {
      width: 100%;
      flex-direction: column;
      display: flex;
    }
    .search {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 20px;
      .searchInp {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 10px 0;
        > div {
          display: flex;
          align-items: center;
          justify-content: space-around;
          margin-left: 20px;
          span{
            padding: 0 10px;
            flex: 1;
          }
          input{
            width: 150px;
          }
        }
      }
      .searchBut{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 20px;
        button{
          margin-right: 10px;
        }
      }
    }
  }
}


.ImgBox{
  width: 25%;
  border: 1px solid #000;
  padding: 5px;
  img{
    width: 100%;
    height: 200px;
  }
}

.KnowBotton{
  width: 100%;
  display: flex;
}
.num{
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  background: #4f0;
  color: #fff;
}