.view {
    width: 100%;
    height: 100%;
    padding: 24px;
}

.search_count {
    z-index: auto;
    min-width: 20px;
    height: 20px;
    padding: 0 6px;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    text-align: center;
    background: #52C41A;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #fff;
}