.tags {
  width: 100%;
  main {
    width: 100%;
    padding: 30px;
    .ant-row {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      .ant-col {
        background-color: #fff;
        width: 45%;
        h3 {
          width: 100%;
          height: 50px;
          line-height: 50px;
          border-bottom: 1px solid #ccc;
          padding-left: 20px;
        }
        form {
          padding: 0 20px;
        }
        .tags_item:hover{
          background: #09f;
          color: #fff;
        }
      }
    }
    .allTags {
      padding: 0 20px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      span{
       line-height: 30px;
       border: 1px solid #ccc;
       padding: 0 10px;
       margin: 5px;
      }
    }
  }
}