.knowladgeWrap {
  width: 100%;
  main {
    padding: 20px;
    .know_select {
      width: 100%;
      background-color: #fff;
      padding: 10px;
      margin-bottom: 10px;
    }
    .card_content {
      background-color: #fff;
      padding: 10px;
      .head {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 10px 20px;
      }
      .main {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
      }
    }
  }
}
