.footer{
    border-top: 1px solid #000;
    width: 90%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end
}
.ant-card-meta-description{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}