header.header{
  width: 100%;
  line-height: 40px;
  background-color: #fff;
  margin-bottom: 10px;
  padding-left: 20px;
  color: #999;
  nav,ol,li{
    line-height: 40px;
  }
  h1{
    line-height: 40px;
  }
}