.work_article {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
  text-align: 'center';
  .work_card_article{
    margin: 10px 0;
    width: calc(100% / 3);
  }
}
