
.search{
  width: 100%;
  main{
    width: 100%;
    padding: 20px;
    .search_body{
      background-color: #fff;
      padding: 10px;
    }
    .action{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      padding: 0 20px;
      div{
        button{
          margin-right: 10px;
        }
      }
    }
  }
}