* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .add {
    display: none;
  }
  .add_button {
    display: none !important;
  }
}
@media screen and (max-width: 992px) {
  .add {
    text-align: center;
  }
  .add_button {
    display: none !important;
  }
}
