.articleEdit{
  width: 100%;
  >main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    >div{
      flex: 1;
      height: 100vh;
      background: #fff;
    }
    .toc{
      border: 1px solid #ccc;
      border-top: none;
      h3{
        border-bottom: 1px solid #ccc;
        line-height: 40px;
        font-weight: bold;
      }
    }
  }
}
