.login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  box-shadow: 0 2px 8px #f0f1f2;
  border-radius: 4px;
  display: flex !important;
  .antd_row {
    width: 100%;
    position: relative;
    background-color: #f7fafb;
    .loginForm {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      padding: 25px;
      position: relative;
      h2 {
        margin-top: 0;
        margin-bottom: 0.5em;
        color: #333;
        line-height: 60px;
      }
      .form {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: rgba(0, 0, 0, 0.85);
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5715;
        list-style: none;
        font-feature-settings: 'tnum';
        div.ant-col-8 {
          flex: 0;
        }
        button {
          width: 100%;
        }
      }
    }
  }
}
