.bgfrom {
    height: auto !important;
    background: #fff;
    padding: 20px;
    margin: 0 0 20px 0;
  }
  .butombt {
    width: 136px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .butom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    box-sizing: border-box;
  }
  
  .search > div {
    text-align: right;
    width: 22%;
    margin-top: 10px;
    box-sizing: border-box;
  }
  .search {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-flow: wrap;
  }
  