.poster {
  width: 100%;
  > header {
    width: 100%;
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #999;
  }
  > main {
    padding: 20px;

    > div {
      margin-top: 15px;
      background-color: #fff;
    }
    .search {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      padding: 20px;
      .searchInp {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 10px 0;
        span {
          padding: 0 10px;
        }
        input {
          width: 150px;
        }
      }
      .searchBut {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 20px;
        button {
          margin-right: 10px;
        }
      }
    }
  }
}
