.class {
  width: 100%;
  main {
    padding: 24px;
    .class_main {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .class_main_left {
        width: 35%;
        background-color: #fff;
        .class_main_left_top {
          width: 100%;
          height: 50px;
          padding: 0 24px;
          border-bottom: 1px solid #f0f0f0;
          p {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 16px;
          }
        }
        .class_main_left_bottom {
          width: 100%;
          padding: 24px;
          display: flex;
          flex-direction: column;
          .class_mian_left_bottom_input {
            margin: 0 0 24px;
          }
        }
      }
      .class_main_right {
        width: 63%;
        background-color: #fff;
        .class_main_right_top {
          width: 100%;
          height: 50px;
          padding: 0 24px;
          border-bottom: 1px solid #f0f0f0;
          p {
            width: 100%;
            line-height: 50px;
            display: flex;
            align-items: center;
            font-size: 16px;
          }
        }
        .class_main_right_bottom {
          padding: 24px;
          .class_main_right_bottom_list {
            display: inline-block;
            border: 1px solid #d9d9d9;
            border-radius: 2px;
            margin: 0 7px 7px 0;
            transition: all 0.2s ease-in-out;
            margin: 5px;
            cursor: pointer;
            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
