.myInfo {
  width: 100%;
  height: auto;
  position: relative;
  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100px;
      height: 100px;
      border: 1px solid #ccc;
    }
  }
}
