.footer {
  width: 100%;
  height: 104.6px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;

    > svg {
      width: 24px;
      height: 24px;
      margin: 8px 0 16px;
    }

    p {
      color: #999;
      :not(svg) {
        font-size: 12px;
      }

      a {
        font-size: 12px;
        color: #999;
      }
    }
  }
}

.texts {
  height: 30px;
  font-size: 12px;
}
