.work {
  width: 100%;
  .header {
    width: 100%;
    height: auto !important;
    padding: 10px 30px;
    background-color: #fff;
    p {
      line-height: 40px;
      color: #999;
    }
    h1 {
      font-size: 30px;
    }
  }
  .site-card-border-less-wrapper {
    padding: 30px;
    width: 100%;
    overflow: hidden;

    .nav {
      width: 100%;
      margin-top: 20px;
      .navItem {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
      a {
        color: #000;
      }
    }
  }
  .article {
    padding: 10px 30px;
    background: #ececec;
    width: 100%;
    overflow: hidden;
    .art {
      width: 100%;
      h4 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
          font-size: 14px;
          color: #000;
        }
      }
    }
  }
  .comment{
    width: 100%;
    padding: 10px 30px;
  }
}
