// 弹窗
.mask input{
    width: 90%;
}

.mask_oss{
    width: 100%;
    // height: 210px;
    display: flex;
    justify-content: center
}
.mask_title{
    width: 50px;
    position: absolute;
    left: 25px;
    top: 370px;
}
.mask_ossimg{
    width: 90%;
    // height: 150px;
    margin-left: 25px;
}
.mask_ossimg input{
    width: 100%;
    margin-top: 15px;
}


.mask_off{
    position: absolute;
    left: 0;
    top: calc(100% - 70px);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end
}