.myCenter{
  width: 100%;
  height: auto;
  >header{
    width: 100%;
    height: 50px;
    background-color: #fff;
  }
  >main{
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    >div{
      flex: 1;
      margin: 0 30px;
    }
  }
  
}