.amEditor {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  header {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    .editHeader {
      width: 100%;
      .title {
        width: 100%;
        display: flex;
        padding: 0 20px;
        align-items: center;
        justify-content: space-around;
        .close {
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          border: 1px solid #ccc;
          font-size: 20px;
        }
        input {
          flex: 1;
          margin: 0 10px;
          outline: none;
          border: none;
          border-bottom: 1px solid #ccc;
          height: 40px;
        }
        button {
          height: 40px;
          margin: 0 20px;
        }
      }
    }
  }
  main{
    width: 100%;
    flex: 1;
    iframe{
      width: 100%;
      height: 100%;
    }
  }
}
