.page_wrap {
  height: auto;
  width: 100%;
  overflow: auto;
  main {
    padding: 20px;
  }
}
.page_search {
  height: auto;
  width: 100%;
  margin-bottom: 10px;
  background:#fff
}
.page_body {
  width: 100%;
  background-color: #fff;
}
.page_table {
  height: auto;
}
.page_button_dis {
  height: 100px;
  width: 300px;
  line-height: 100px;
}
.page_jian {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.button_width {
  margin-right: 10px;
}
.pagination {
  width: 95%;
  display: flex;
  justify-content: flex-end;
}
