.poster {
  width: 100%;
  main {
    padding: 20px;
    > div {
      margin-top: 15px;
      background-color: #fff;
    }
    .search {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      padding: 20px;
      .searchInp {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 10px 0;
        span {
          padding: 0 10px;
        }
        input {
          width: 150px;
        }
      }
      .searchBut {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 20px;
        button {
          margin-right: 10px;
        }
      }
    }
  }
}

.searchInp{
  display: flex;
}
.action{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 20px;
  div{
    button{
      margin-right: 10px;
    }
  }
}